.right-header-container {
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;

    .tools {
        & > * {
            margin-left: 10px;
        }
    }

    .widgets {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }
}
